grass7/gui/wxpython/wx.metadata/config/connections_resources.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="qgsCSWConnections">
   <xs:complexType>
       <xs:sequence>
          <xs:element name="csw" maxOccurs="unbounded">
            <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="url" type="xs:string" use="required"/>
            </xs:complexType>
        </xs:element>
      </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>
</xs:schema>
